@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  padding: 15px;
}

.education-panel {
  height: 500px;
  /*border: 2px solid #000;*/
  background-color: #2eb7ff;
}

.slick-next:before, .slick-prev:before {
  color: #000;
}

.panel-title a:hover {
  color:#fff;
}

.panel-default>.panel-heading {
  background-color:#2eb7ff;
}

.animation {
  padding: 20px 0 0 10px;
}

.panel-default {
     border-width: 0px; 
     border-color:transparent;
}

.panel {
    -webkit-box-shadow: 0px transparent;
    box-shadow: 0 0 0 transparent;
}

.panel-collapse {
  font-family: helvetica;
  background-color: #2eb7ff;

}