@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500');

.education {
  padding: 0;
}

.education-container {
  padding: 0;
}

.slide-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding: 15px;
/*  padding: 0;*/
  margin: 0;
}

#edu-title {
  margin: 0;
  padding: 14.5px 10px;
  font-size: 24px;
  line-height: 21px;
  display: inline-block;
}

.education-panel {
  height: 500px;
  width: 97%;
  margin-left: 20px; 
  background-color: #2eb7ff;
  border: 3px solid black;

}

.panel-0 {
  height: 100vh - 70px;
}

.slick-next:before, .slick-prev:before {
  color: #000;
}

/*.panel-title {
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}*/

.panel-title a:hover {
  color:#fff;
}

.panel-default > .panel-heading {
    background-color:#3b6488;
}

.animation {
  padding: 20px 0 0 10px;
}

.panel-default {
  border-width: 0px; 
  border-color:transparent;
}

.panel {
  -webkit-box-shadow: 0px transparent;
  box-shadow: 0 0 0 transparent;
}

.panel-collapse {
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  background-color: #2eb7ff;

}

