.coins-pg {
/*  display: flex;*/

}

.coins-container {
/*  display: flex;
  flex-wrap: wrap;*/
}

#coins-title, h1 {
/*  font-size: 3em;*/
/*  width: 50%;*/
}

.infinite {
/*  float: right;*/
/*  width: 50%;*/
}

#coin-search {
/*  width: 100%;*/
}

.floatRight {
/*  float:right;*/
}

.search-panel {
/*  border: 1px solid black;*/
/*  width: 50%;*/
}

.info-panel {
/*  border: 1px solid black;*/
/*  width: 50%;
  margin: 3em;*/
/*  height: 800px;
  overflow: hidden;*/
}

.explain-btn {
  margin: 1em;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal {
  width: 80%;
}

.per-symbol {
  margin-left: 0.5em;
  font-size: 0.7em;
  font-weight: lighter; 
  letter-spacing: 1.5px;
}

.single-coin-container {
  padding: 1em 2em 1em 2em;
}