.coins-pg {
/*  display: flex;*/

}

.coins-container {
/*  display: flex;
  flex-wrap: wrap;*/
}

#coins-title, h1 {
/*  font-size: 3em;*/
/*  width: 50%;*/
}

.infinite {
/*  float: right;*/
/*  width: 50%;*/
}

#coin-search {
/*  width: 100%;*/
}

.floatRight {
/*  float:right;*/
}

.search-panel {
/*  border: 1px solid black;*/
/*  width: 50%;*/
}

.info-panel {
/*  border: 1px solid black;*/
/*  width: 50%;
  margin: 3em;*/
}

.explain-btn {
  margin: 1em;
}